@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&family=Rubik+Moonrocks&display=swap');

.song {
  /* the white space pre is not responsible! */
  white-space: pre;
  background-color: pink;
  font-size: 48px;
  color: white;
  width: 80%;
  max-width: 500px;
}

@font-face {
  font-family: 'Assistant', sans-serif;
  font-family: 'Rubik Moonrocks', sans-serif;
  font-style: normal;
  src:  url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&family=Rubik+Moonrocks&display=swap');
}

* {
  font-family: 'Rubik Moonrocks';
  text-shadow: 1px 1px 2px gray;
}

h1, h2 {
  color: pink;
  text-align: center;
}
h1 {
    font-size: 75px;
}
h2 {
    font-size: 60px;
}

